<dl>
    <dt><b>0.1.3</b></dt>
    <dd>Compatibility with 2020.1 EAP products.</dd>
    <dt><b>0.1.2</b></dt>
    <dd>Cosmetic and internal changes. We have a plugin icon now!</dd>
    <dt><b>0.1.1</b></dt>
    <dd>Fetch only tasks owned by the current user if no query is entered.</dd>
    <dt><b>0.1.0</b></dt>
    <dd>
        Initial release of the plugin. It's very bare bones at the moment, but
        you can already fetch your stories.
    </dd>
</dl>
